@layer base {
  :root {
    --black: rgba(18, 19, 14, 0.75);
    --white: white;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    color: var(--white);
    height: 100vh;
    font-family: "Bodoni Moda SC", serif;
    overflow: hidden;
  }
}
@layer body {
  .cont {
    display: flex;
    width: 360px;
    background-color: var(--black);
    height: 360px;
    border-radius: 50%;
    margin: 150px auto;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
    border: 1px solid var(--black);
  }
  .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
  .cont:hover {
    scale: 1.15;
  }
  .box {
    text-align: center;
  }
  .cont .box h1 {
    font-size: 60px;
    margin: 0 0 10px 0;
    line-height: 50px;
  }
  h3 {
    margin: 0.8rem 0 10px;
    font-size: 20px;
  }
  h4 {
    margin: 10px;
    font-size: 18px;
  }
  .fa-bowl-food {
    font-size: 50px;
    color: rgba(172, 115, 70, 0.8);
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 80;
  }
  
}
