@layer base {
  :root {
    --priclr: rgb(255, 68, 0);
    --secclr: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);

    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      margin: 0;
      padding: 0;
      height: 1000px;
      font-family: sans-serif;
    }
  }
}
@layer container {
  .cont {
    background-color: var(--priclr);
    display: flex;
    justify-content: center;
    max-width: 840px;
    width: 100%;
    height: 450px;
    box-shadow: 3px 3px 10px rgba(17, 16, 16, 0.6);
    margin: 70px auto;
    border-radius: 1rem;
    position: relative;
  }

  .box {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 390px;
    width: 100%;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@layer sections {
  .box1 {
    color: var(--secclr);
    text-transform: capitalize;
    align-self: center;
    /* border: 2px solid; */
    transition: transform 0.5s ease;
  }
  .box1 h1 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .box1 p {
    align-self: center;
    line-height: 20px;
  }
  .cont.active .box1 {
    transform: translateX(100%); /*Move orange section to the right */
  }
  .box2 {
    /* border: 2px solid; */
    background-color: var(--secclr);
    transition: transform 0.5s ease;
  }
  .box2 h1 {
    margin-bottom: 10px;
  }
  .cont.active .box2 {
    transform: translateX(-100%); /* Move white section to the left */
  }
  input {
    outline: none;
    border: none;
    padding: 0.8rem;
    margin: 10px;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.3);
    caret-color: var(--priclr);
  }
  input:focus{
    border: 1px solid rgba(255, 68, 0, 0.5);
  }
}
@layer button {
  .btn {
    width: 100px;
    border: 2px solid white;
    outline: none;
    border-radius: 1rem;
    padding: 0.6rem;
    color: var(--secclr);
    background-color: var(--priclr);
    cursor: pointer;
    align-self: center;
    margin: 10px;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  .btn2 {
    border: 2px solid var(--priclr);
  }
  .btn1:hover {
    background-color: rgba(187, 66, 22, 0.3);
  }
  .btn2:hover {
    background-color: rgb(230, 86, 34);
  }
  .linked,
  .face,
  .gplus {
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(54, 50, 48, 0.5);
    transition: all 0.19s ease-in;
  }
  .logo {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    column-gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .linked:hover,
  .face:hover,
  .gplus:hover {
    background-color: rgba(170, 165, 165, 0.4);
  }
}
