@layer base {
  :root {
    --orange: #ff7b54;
    --white: white;
    --grey: rgb(192, 185, 185);

    /* this is very important */
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      color: var(--orange);
      background-color: var(--white);
      font-family: sans-serif;
      height: 100vh;
      margin: 0;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: block;
    }
    a:hover {
      color: rgba(184, 47, 6, 0.7);
    }
  }
}
@layer home {
    main {
        display: flex;
        justify-content: center;  
        flex-wrap: nowrap
      }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
  }

  .text {
    font-size: 30px;
  }

  .fa-cart-shopping {
    align-self: center;
    padding-inline: 1rem;
    font-size: larger;
  }
}
@layer body {
  .cont {
    max-width: 800px;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .link {
    display: flex;
    gap: 50px;
  }
  .links {
    display: inline-block;
    font-weight: 400;
    font-size: larger;
    transition: all 0.3s ease;
  }
  .fa-cart-shopping {
    padding-right: 0;
    padding-left: 0;
  }
}
@layer text {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }
    .holder {
        width: 300px;
        padding: 1rem;
    }
    .pic {
        width: 200px;
        height: 200px;
        background-color: var(--grey);
    }
    .comp, .word {
        color: black;
    }
    h4{
        margin-top: 15px;
    }
}
